<footer class="footer">
  	 <div class="container">
  	 	<div class="row">
             <div class="jointeam">Join 700+ business working with us to fullfil your last mile delivery needs

             </div>
            <hr style="color: rgb(193, 193, 193) ;">
            <br>
            <br>


  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a >about us</a></li>
  	 				<li><a >Careers</a></li>
  	 				<li><a >Contact Us</a></li>
  	 			</ul>
  	 		</div>
  	 
  	 		<div class="footer-col">
  	 			<h4>Explore</h4>
  	 			<ul>
  	 				<li><a >For Business</a></li>
  	 				<li><a >For Customer</a></li>
  	 				<li><a >Blog</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Get in Touch</h4>
  	 			<div class="social-links">
  	 				<a ><i class="fab fa-facebook-f"></i></a>
  	 				<a ><i class="fab fa-twitter"></i></a>
  	 				<a ><i class="fab fa-instagram"></i></a>
  	 				<a ><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
     <div class="copyright">@Copyright 2023 | A copyright is a type of intellectual property that gives its owner the exclusive right to copy</div>
  </footer>